<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Numbers</title>
  <style>
    p {
      max-width: 90%;
      word-wrap: break-word;
    }
  </style>
</head>
<body>
  <h1>Numbers</h1>
  <p>Output - <%= output %></p>
  <p>Max - <%= max %></p>
  <p>Answer - <%= answer %></p>
  <p>Figure - <%= figure %></p>

</body>
</html>